div{
    margin: 20px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bold;
}

/* Qs1 */
#box1{
    width: 100px;
    height: 100px;
    background: green;

    transition: width 2s ease-in 0.5s;
}

#box1:hover{
    width: 600px;
}

/* Qs2 */
#box2{
    width: 100px;
    height: 100px;
    background: red;

    transform: translate(200px, 200px) rotate(90deg);
}

/* Qs3 */
#box3{
    width: 100px;
    height: 100px;
    background: lightblue;

    transform: skewX(20deg);
}

/* Qs4 */
#box4{
    width: 100px;
    height: 100px;
    background: lightgreen;

    box-shadow: 2px 2px 5px green;
}

/* Qs5 */
#myPic{
    width: 200px;
    height: 200px;

    background-image: url("https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d");
    background-size: cover;
    background-position: center;

    opacity: 0.5;
}